
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(88, 90, 90);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color:rgb(112, 167, 184);
}

section {
    padding: 40px 0;
    background-color: rgb(88, 90, 90);
    color:#fff;
    text-shadow: #333;
}

section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

button input textarea{
    background-color:darkgray;
    border:1px solid black;
    gap:5px;
}